:root{
    --bs-info: rgb(241, 46, 137);
    --bs-info-hover:rgb(167, 29, 93);

}
.bg-info{
    background: var(--bs-info) !important;
}
.border-info {
    border-color: var(--bs-info)!important;
}

.text-info {
    color: var(--bs-info)!important;
}

.btn-info{
    background-color: var(--bs-info);
    border-color: var(--bs-info);
    color:#fff;
}
.btn-info:hover, .btn-info:active{
    background-color: var(--bs-info-hover);
    border-color: var(--bs-info-hover);
    color:#fff;
}
.btn-check:focus+.btn-info, .btn-info:focus{
    background-color: var(--bs-info-hover);
    border-color: var(--bs-info-hover);
    color:#fff;
    box-shadow: 0 0 0 0.25rem rgb(241 6 137 / 50%);
}

.breadcrumb{
    --bs-breadcrumb-divider: '>';
}

.cover-fit{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

